* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: rgb(221, 226, 204);
}
#container {
  width: 90%;
  border: 2px solid purple;
  margin: 1.5rem auto;
}
#heading {
  width: 100%;
  height: 7rem;
  background-color: darkcyan;
  text-align: center;
}
#heading ul {
  display: flex;
  list-style: none;
  margin-top: 1.7rem;
  padding-left: 2rem;
}
#heading li {
  padding: 0 0.5rem 0.5rem 0.5rem;
}
#heading li a {
  background-color: darksalmon;
  padding: 0.5rem;
}
#heading li a:hover {
  background-color: rgb(33, 18, 102);
}
#main {
  width: 100%;
  height: auto;
  background-color: darkturquoise;
  display: flex;
}
aside {
  width: 20%;
  height: auto;
  background-color: darkturquoise;
}
aside ul {
  list-style: none;
  margin-top: 1.7rem;
  text-align: center;
}
aside li {
  padding: 0.5rem 0rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
aside li a {
  background-color:rgb(189, 206, 38);
  padding:0.5rem;
}
aside li a:hover {
  background-color:rgb(206, 38, 198);
  padding:0.5rem;
}
#section {
  width: 80%;
  height: auto;
  background-color: rgb(115, 216, 250);
}
#footer {
  width: 100%;
  height: 7rem;
  background-color: darkgrey;
}
.video-responsive {
  overflow: hidden;
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
  margin-bottom:1%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
