* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  border: 15px solid #bdc3c7;
  padding: 20px;
  margin: 20px auto;
  width: 85%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.date {
  color: #2c72e2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 20px 0;
}
.post h2 {
  font-size: 1.4rem;
  color: #8b93b1;
  padding-bottom: 1rem;
  font-weight: bold;
}
.post .quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 8px;
}
.post-info {
  margin-top: 1rem;
}
.post {
  margin-bottom: 1rem;
}
