body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1b1b;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 10px;
}

#container {
  width: 400px;
  margin: 40px auto;
  background-color: #666;
  border-radius: 10px;
}

#board {
  display: flex;
  flex-wrap: wrap;
}

#board li {
  width: 90px;
  height: 70px;
  background-color: #333;
  margin: 10px;
  list-style: none;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 48px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

#reset {
  background-color: #444;
  border: 0;
  color: white;
  padding: 15px;
  width: 70%;
  font-size: 25px;
}

.o {
  color: green !important;
}

.x {
  color: red !important;
}
