*{
    box-sizing:border-box;
}
body{
    overflow-x:hidden;
    font-size:10px;
}
header{
    display:flex;
    justify-content: space-between;
    background-color:white;
    a{
        text-decoration: none;
        color:black;
    }
    .main{
        width:90%;
        display:flex;
        justify-content:space-between;
        img{
            height:3.3rem;
            margin-top:1rem;
        }
        .desktop_menu{
            ul{
                display:flex;
                list-style:none;
                font-size:1rem;
                margin:2rem 0 1rem 0;
                li{
                    //border:1px solid black;
                    font-weight:500;
                    padding:0 1rem;
                }
                li:hover{
                    opacity:0.6;
                }
            }
        }
        .bars{
            display:none;
        }
        .bars:hover{
            cursor:pointer;
        }
    }
}
.mobile_menu{
    a{
        text-decoration: none;
        color:black;
    }
    //border:1px solid black;
    width:91.5%;
    height:100vh;
    background-color:white;
    position:absolute;
    top:0;
    transition:transform 0.5s ease-in-out;
    left:-80rem;
    font-size:1.2rem;
    ul{
        list-style:none;
        padding:0.1rem 0 0 2rem;
        li{
            margin:1rem 0;
        }
        li:hover{
            cursor:pointer;
        }
    }
}
.mobile_menu.show{
    transform:translateX(80rem);
}
.cancel_btn{
    display:none;
    background-color:white;
    //border:1px solid black;
    text-align:center;
    padding-top:1.2rem;
    padding-bottom:1.5rem;
    position:absolute;
    top:0;
    right:0;
    width:4rem;
    height:4rem;
}
.cancel_btn.show{
    display:block;
}
.cancel_btn:hover{
    cursor:pointer;
}
.empty{
    display:none;
    //border:1px solid yellow;
    position:absolute;
    top:4rem;
    right:0;
    height:88vh;
    width:4rem;
}
.empty.show{
    display:block;
}
.item1{
    a{
        text-decoration: none;
        color:black;
    }
    //border:1px solid black;
    width:91.5%;
    height:100vh;
    background-color:white;
    position:absolute;
    top:0;
    transition:transform 0.6s ease-in-out;
    left:80rem;
    font-size:1.2rem;
    ul{
        list-style:none;
        padding:0.1rem 0 0 2rem;
        li:nth-child(1){   
            padding-bottom:0.8rem;
            cursor:pointer;
        }
        li{
            margin:1rem 0;
        }
    }
}
.item1.show{
    transform:translateX(-80rem);
}
.item2{
    a{
        text-decoration: none;
        color:black;
    }
    //border:1px solid black;
    width:91.5%;
    height:100vh;
    background-color:white;
    position:absolute;
    top:0;
    transition:transform 0.6s ease-in-out;
    left:80rem;
    font-size:1.2rem;
    ul{
        list-style:none;
        padding:0.1rem 0 0 2rem;
        li:nth-child(1){   
            padding-bottom:0.8rem;
            cursor:pointer;
        }
        li{
            margin:1rem 0;
        }
    }
}
.item2.show{
    transform:translateX(-80rem);
}
.item3{
    a{
        text-decoration: none;
        color:black;
    }
    //border:1px solid black;
    width:91.5%;
    height:100vh;
    background-color:white;
    position:absolute;
    top:0;
    transition:transform 0.6s ease-in-out;
    left:80rem;
    font-size:1.2rem;
    ul{
        list-style:none;
        padding:0.1rem 0 0 2rem;
        li:nth-child(1){   
            padding-bottom:0.8rem;
            cursor:pointer;
        }
        li{
            margin:1rem 0;
        }
    }
}
.item3.show{
    transform:translateX(-80rem);
}
.item4{
    a{
        text-decoration: none;
        color:black;
    }
    //border:1px solid black;
    width:91.5%;
    height:100vh;
    background-color:white;
    position:absolute;
    top:0;
    transition:transform 0.6s ease-in-out;
    left:80rem;
    font-size:1.2rem;
    ul{
        list-style:none;
        padding:0.1rem 0 0 2rem;
        li:nth-child(1){   
            padding-bottom:0.8rem;
            cursor:pointer;
        }
        li{
            margin:1rem 0;
        }
    }
}
.item4.show{
    transform:translateX(-80rem);
}
.item5{
    a{
        text-decoration: none;
        color:black;
    }
    //border:1px solid black;
    width:91.5%;
    height:100vh;
    background-color:white;
    position:absolute;
    top:0;
    transition:transform 0.6s ease-in-out;
    left:80rem;
    font-size:1.2rem;
    ul{
        list-style:none;
        padding:0.1rem 0 0 2rem;
        li:nth-child(1){   
            padding-bottom:0.8rem;
            cursor:pointer;
        }
        li{
            margin:1rem 0;
        }
    }
}
.item5.show{
    transform:translateX(-80rem);
}
.item1.disappear,.item2.disappear,.item3.disappear,.item4.disappear,.item5.disappear{
    transform:translateX(-160rem);
}
.showcase{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(8rem,1fr));
    
  grid-gap:3rem;
  min-width:8rem;
    width:80%;
    margin:3rem auto;
    .pics{
        //border:1px solid black;
        display:flex;
        flex-direction: column;
        width:8rem;
        box-shadow: -0.2rem 0.2rem 0 0 rgba(0,0,0,0.2);
        img{
            width:8rem;
        }
        p{
            text-align:center;
        }
    }
}
@media(max-width:800px){
    header{
        //.left,.right{
        //    width:0vw;
        //}
        .main{
            width:90%;
            display:flex;
            justify-content: space-between;
            img{
                height:1.8rem;
            }
            .desktop_menu{
                display:none;
            }
            .bars{
                justify-self:end;
                //position:absolute;
                //right:5rem;
                display:block;
                margin:1.5rem 0 1rem 0;
            }
        }
    }
}