* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

header a {
  text-decoration: none;
  color: black;
}

header .main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main img {
  height: 3.3rem;
  margin-top: 1rem;
}

header .main .desktop_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

header .main .desktop_menu ul li {
  font-weight: 500;
  padding: 0 1rem;
}

header .main .desktop_menu ul li:hover {
  opacity: 0.6;
}

header .main .bars {
  display: none;
}

header .main .bars:hover {
  cursor: pointer;
}

.mobile_menu {
  width: 91.5%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  left: -80rem;
  font-size: 1.2rem;
}

.mobile_menu a {
  text-decoration: none;
  color: black;
}

.mobile_menu ul {
  list-style: none;
  padding: 0.1rem 0 0 2rem;
}

.mobile_menu ul li {
  margin: 1rem 0;
}

.mobile_menu ul li:hover {
  cursor: pointer;
}

.mobile_menu.show {
  -webkit-transform: translateX(80rem);
          transform: translateX(80rem);
}

.cancel_btn {
  display: none;
  background-color: white;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
}

.cancel_btn.show {
  display: block;
}

.cancel_btn:hover {
  cursor: pointer;
}

.empty {
  display: none;
  position: absolute;
  top: 4rem;
  right: 0;
  height: 88vh;
  width: 4rem;
}

.empty.show {
  display: block;
}

.item1 {
  width: 91.5%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  left: 80rem;
  font-size: 1.2rem;
}

.item1 a {
  text-decoration: none;
  color: black;
}

.item1 ul {
  list-style: none;
  padding: 0.1rem 0 0 2rem;
}

.item1 ul li:nth-child(1) {
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.item1 ul li {
  margin: 1rem 0;
}

.item1.show {
  -webkit-transform: translateX(-80rem);
          transform: translateX(-80rem);
}

.item2 {
  width: 91.5%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  left: 80rem;
  font-size: 1.2rem;
}

.item2 a {
  text-decoration: none;
  color: black;
}

.item2 ul {
  list-style: none;
  padding: 0.1rem 0 0 2rem;
}

.item2 ul li:nth-child(1) {
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.item2 ul li {
  margin: 1rem 0;
}

.item2.show {
  -webkit-transform: translateX(-80rem);
          transform: translateX(-80rem);
}

.item3 {
  width: 91.5%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  left: 80rem;
  font-size: 1.2rem;
}

.item3 a {
  text-decoration: none;
  color: black;
}

.item3 ul {
  list-style: none;
  padding: 0.1rem 0 0 2rem;
}

.item3 ul li:nth-child(1) {
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.item3 ul li {
  margin: 1rem 0;
}

.item3.show {
  -webkit-transform: translateX(-80rem);
          transform: translateX(-80rem);
}

.item4 {
  width: 91.5%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  left: 80rem;
  font-size: 1.2rem;
}

.item4 a {
  text-decoration: none;
  color: black;
}

.item4 ul {
  list-style: none;
  padding: 0.1rem 0 0 2rem;
}

.item4 ul li:nth-child(1) {
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.item4 ul li {
  margin: 1rem 0;
}

.item4.show {
  -webkit-transform: translateX(-80rem);
          transform: translateX(-80rem);
}

.item5 {
  width: 91.5%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  left: 80rem;
  font-size: 1.2rem;
}

.item5 a {
  text-decoration: none;
  color: black;
}

.item5 ul {
  list-style: none;
  padding: 0.1rem 0 0 2rem;
}

.item5 ul li:nth-child(1) {
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.item5 ul li {
  margin: 1rem 0;
}

.item5.show {
  -webkit-transform: translateX(-80rem);
          transform: translateX(-80rem);
}

.item1.disappear, .item2.disappear, .item3.disappear, .item4.disappear, .item5.disappear {
  -webkit-transform: translateX(-160rem);
          transform: translateX(-160rem);
}

.showcase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 3rem;
  min-width: 8rem;
  width: 80%;
  margin: 3rem auto;
}

.showcase .pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8rem;
  -webkit-box-shadow: -0.2rem 0.2rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: -0.2rem 0.2rem 0 0 rgba(0, 0, 0, 0.2);
}

.showcase .pics img {
  width: 8rem;
}

.showcase .pics p {
  text-align: center;
}

@media (max-width: 800px) {
  header .main {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main img {
    height: 1.8rem;
  }
  header .main .desktop_menu {
    display: none;
  }
  header .main .bars {
    -ms-grid-column-align: end;
        justify-self: end;
    display: block;
    margin: 1.5rem 0 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */