* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

/*NAV*/
.main_nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  font-size: 0.9rem;
}

.main_nav1 .logo {
  width: 6rem;
}

.main_nav1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_nav1 ul.main_menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}

.main_nav1 ul li {
  padding: 0 0.7rem;
}

.main_nav1 ul li a {
  padding-bottom: 2px;
}

.main_nav1 ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main_nav2 {
  display: none;
}

#transform {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.allMicrosoft {
  padding: 1rem;
}

.allMicrosoft a:hover {
  border-bottom: 2px solid #262626;
}

.allMicrosoft.clicked {
  border: 0.1rem dashed black;
}

/*details*/
.detail1 {
  display: none;
}

.detail1.show {
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #f2f2f2;
  width: 95vw;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  font-size: 0.8rem;
}

.detail1.show .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail1.show .lists ul {
  padding-bottom: 1rem;
}

.detail1.show .lists ul li {
  text-align: left;
  padding: 1rem 2rem 0.8rem 2rem;
  font-weight: 400;
}

.detail1.show .lists ul li a:hover {
  text-decoration: underline;
}

.detail1.show .lists ul li:first-child {
  font-weight: 500;
}

.detail1.show .lists ul li:first-child a:hover {
  text-decoration: none;
}

.detail1.show table {
  padding-bottom: 1rem;
}

.detail1.show table th {
  text-align: left;
  padding: 1rem 2rem 0.8rem 2rem;
  font-weight: 500;
}

.detail1.show table td {
  text-align: left;
  padding: 0.8rem 2rem 0.8rem 2rem;
}

.detail1.show table td:hover {
  text-decoration: underline;
}

.detail1.show p {
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
  text-align: center;
  font-size: 0.8rem;
  background-color: #e6e6e6;
}

.detail1.show p:hover {
  text-decoration: underline;
}

.detail1.show .blackhr {
  color: yellow;
  height: 5px;
}

.detail1.show .hr1 {
  color: #d3d3d3;
}

.detail1.show .hr2 {
  color: black;
}

.detail1_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail1_title li {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.detail1_title li a {
  padding: 0.8rem 2rem 0.8rem 2rem;
}

.detail2 {
  display: none;
}

.detail2.show {
  position: absolute;
  z-index: 2;
  width: 90%;
  font-size: 0.9rem;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*.more1_contents.show{
    display:block;
    padding:0.8rem 1.3rem 0.8rem 3rem;
    margin:0.2rem;
    //display:flex;
    //justify-content: space-between;
    }
    .more2_contents.show{
      display:block;
    padding:0.8rem 1.3rem 0.8rem 3rem;
    margin:0.2rem;
    //display:flex;
    //justify-content: space-between;
    }

    .more3_contents.show{
      display:block;
    padding:0.8rem 1.3rem 0.8rem 3rem;
    margin:0.2rem;
    //display:flex;
    //justify-content: space-between;
    }

    /*.more4_contents.show{
      display:block;
    padding:0.8rem 1.3rem 0.8rem 3rem;
    margin:0.2rem;
    //display:flex;
    //justify-content: space-between;
    }*/
  /*.more5_contents.show{
      display:block;
    padding:0.8rem 1.3rem 0.8rem 3rem;
    margin:0.2rem;
    //display:flex;
    //justify-content: space-between;
    }

    .more6_contents.show{
      display:block;
    padding:0.8rem 1.3rem 0.8rem 3rem;
    margin:0.2rem;
    //display:flex;
    //justify-content: space-between;
    }*/
}

.detail2.show .items, .detail2.show .more1link, .detail2.show .more2link, .detail2.show .more3link, .detail2.show .more4link, .detail2.show .more5link, .detail2.show .more6link {
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.2rem;
}

.detail2.show .more1link:hover, .detail2.show .more2link:hover, .detail2.show .more3link:hover, .detail2.show .more4link:hover, .detail2.show .more5link:hover, .detail2.show .more6link:hover {
  cursor: pointer;
}

.detail2.show .more1_contents, .detail2.show .more2_contents, .detail2.show .more3_contents, .detail2.show .more4_contents, .detail2.show .more5_contents, .detail2.show .more6_contents {
  display: block;
  padding: 0.8rem 1.3rem 0.8rem 3rem;
  margin: 0.2rem;
}

.detail2.show .contents1, .detail2.show .contents2, .detail2.show .contents3, .detail2.show .contents4, .detail2.show .contents5, .detail2.show .contents6 {
  margin-left: 2.5rem;
}

.detail2.show .c1, .detail2.show .c2, .detail2.show .c3, .detail2.show .c4, .detail2.show .c5, .detail2.show .c6 {
  display: none;
}

.detail2.show .c1.show, .detail2.show .c2.show, .detail2.show .c3.show, .detail2.show .c4.show, .detail2.show .c5.show, .detail2.show .c6.show {
  display: block;
}

.chevron-down {
  text-align: right;
}

.more {
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*SHOWCASE*/
header {
  background: url(./img/gray.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
  height: 30rem;
}

header img {
  width: auto;
  height: 25rem;
}

.text {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 2rem auto 2rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.text h2 {
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.text p {
  margin-bottom: 1rem;
}

.btn {
  margin-top: 1rem;
  background-color: #262626;
  color: white;
  padding: 1rem 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
}

.titles1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.titles1 .texts:hover {
  text-decoration: underline;
}

.titles1 .right {
  width: 5%;
}

.titles1 .left {
  width: 5%;
}

.titles1 p {
  text-align: center;
}

.titles2 {
  display: none;
}

.icons {
  text-align: center;
}

/* Home Cards */
.home-cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 2rem;
}

.home-cards img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.home-cards h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.home-cards a {
  display: inline-block;
  text-transform: uppercase;
  color: #0067b8;
  font-weight: bold;
  padding-top: 1rem;
}

.home-cards a:hover {
  text-decoration: underline;
}

/* Xbox */
.xbox {
  width: 100%;
  height: 350px;
  background: url("./img/xbox.png") no-repeat center center/cover;
  margin-bottom: 2rem;
}

.xbox .content {
  width: 40%;
  padding: 2rem 0 0 2rem;
}

.xbox .content p {
  margin: 1rem 0 1.5rem;
  font-size: 1.1rem;
}

.xbox .content h2 {
  font-size: 1.2rem;
}

.alert {
  text-align: center;
  background-color: #e6e6e6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.alert h2 {
  font-size: 1.5rem;
}

.alert p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.alert a {
  font-size: 1rem;
}

/* carbon */
.carbon_dark {
  background: url("./img/carbon.jpg") no-repeat center center/cover;
}

.carbon_dark h2 {
  font-size: 1.2rem;
  padding: 10% 2% 2% 3%;
  color: white;
}

.carbon_dark p {
  font-size: 1.1rem;
  padding-left: 3%;
  color: white;
}

.carbon_dark .frame {
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-bottom: 5rem;
}

.carbon_dark .frame .btn {
  color: black;
  background-color: white;
}

/* follow */
.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow p {
  font-size: 1.1rem;
  padding: 2rem 0 1.6rem 0;
}

.follow .first {
  padding: 2rem 0.5rem 1.6rem 1rem;
}

.follow .others {
  padding: 2rem 0.5rem 1.6rem 0.5rem;
}

.links {
  width: 100%;
  margin: auto;
  background-color: #e6e6e6;
  padding-top: 3rem;
  padding-bottom: 2rem;
  /*  padding-left:10%;
  padding-right:10%;
  */
}

.links .links-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.19fr 1fr 1fr 1fr 1fr 1fr 1fr 0.19fr;
      grid-template-columns: 0.19fr 1fr 1fr 1fr 1fr 1fr 1fr 0.19fr;
      grid-template-areas: "left a b c d e f right";
}

.links .links-inner .hyperlink {
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
}

.links .links-inner .left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.links .links-inner .a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.links .links-inner .a h3 {
  font-weight: 600;
  padding: 0 0 1rem 2.5rem;
}

.links .links-inner .b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.links .links-inner .b h3 {
  font-weight: 600;
  padding: 0 0 1rem 2.5rem;
}

.links .links-inner .c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.links .links-inner .c h3 {
  font-weight: 600;
  padding: 0 0 1rem 2.5rem;
}

.links .links-inner .d {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

.links .links-inner .d h3 {
  font-weight: 600;
  padding: 0 0 1rem 2.5rem;
}

.links .links-inner .e {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: e;
}

.links .links-inner .e h3 {
  font-weight: 600;
  padding: 0 0 1rem 2.5rem;
}

.links .links-inner .f {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: f;
}

.links .links-inner .f h3 {
  font-weight: 600;
  padding: 0 0 1rem 2.5rem;
}

.links .links-inner .right {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: right;
}

.footer {
  width: 100%;
  margin: auto;
  background-color: #e6e6e6;
  padding-bottom: 3rem;
}

.footer .footer-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 15fr 1.2fr;
      grid-template-columns: 1fr 3fr 15fr 1.2fr;
      grid-template-areas: "a b c d";
}

.footer .footer-inner .left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.footer .footer-inner .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.footer .footer-inner .list {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.footer .footer-inner .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-inner .list ul a:hover {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #262626;
}

.footer .footer-inner .right {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

@media (max-width: 830px) {
  .titles2 {
    display: none;
  }
  .container {
    width: 95%;
  }
  .main_nav1 {
    display: none;
  }
  .main_nav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4rem;
    font-size: 0.9rem;
  }
  .main_nav2 .logo {
    width: 6rem;
  }
  .main_nav2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main_nav2 ul.main_menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 2rem;
  }
  .main_nav2 ul li {
    padding: 0 0.7rem;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    background: url(./img/gray2.png);
  }
  header img {
    width: 100%;
    height: auto;
  }
  .main_menu {
    display: none;
  }
  .text {
    /*height: 15rem;
    background-color:#e6e6e6;
    padding:2rem 5rem 2rem 5rem;
    font-size: 1.1rem;
    margin-bottom:2rem;
    h2 {
      //transform:translateX(-5.65rem);
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .text h2 {
    margin-bottom: 0.5rem;
  }
  .text p {
    margin-bottom: 0;
  }
  .main_nav1 .main_menu {
    display: block;
    position: absolute;
    top: 0;
    left: -50rem;
    width: 50%;
    height: 100%;
    background: #f2f2f2;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    opacity: 0.9;
    padding: 2rem;
  }
  .main_nav1 .main_menu.show {
    -webkit-transform: translateX(48rem);
            transform: translateX(48rem);
  }
  .main_nav1 .main_menu li {
    padding: 0.8rem;
    border-bottom: #ccc solid 1px;
    font-size: 1.2rem;
  }
  .main_nav1 .main_menu li:last-child {
    border-bottom: 0;
  }
  .main_nav1 ul.right_menu {
    margin-right: 4rem;
  }
}

@media (max-width: 780px) {
  .titles1 {
    display: none;
  }
  .titles2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    font-weight: 450;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2rem;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .titles2 .texts:hover {
    text-decoration: underline;
  }
  .titles2 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 3rem;
    padding-bottom: 1rem;
  }
  .titles2 .icons {
    padding-right: 0.5rem;
  }
  .btn {
    font-size: 1rem;
    padding: 0.6rem 0.9rem;
  }
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
  }
  .xbox .content {
    width: 50%;
    padding: 2rem 0 0 2rem;
  }
  .xbox .content p {
    display: none;
  }
  .xbox .content h2 {
    margin-bottom: 2rem;
  }
  .links {
    background-color: #e6e6e6;
    padding-top: 3rem;
    padding-bottom: 2rem;
    /*  padding-left:10%;
    padding-right:10%;
    */
  }
  .links .links-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.35fr 2fr 2fr 2fr 0.35fr;
        grid-template-columns: 0.35fr 2fr 2fr 2fr 0.35fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "left a b c right" "left d e f right";
  }
  .footer .footer-inner {
    -ms-grid-columns: 1fr 5fr 13fr 1.2fr;
        grid-template-columns: 1fr 5fr 13fr 1.2fr;
  }
  .footer .footer-inner .title {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }
  .footer .footer-inner .list ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "a b c d" "e f g h";
  }
  .footer .footer-inner .list ul .a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .b {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .c {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: c;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .d {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: d;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .e {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: e;
  }
  .footer .footer-inner .list ul .f {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: f;
  }
  .footer .footer-inner .list ul .g {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: g;
  }
  .footer .footer-inner .list ul .h {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: h;
  }
}

/*@media(max-width:1000px){
  .xbox{
    .content{
      p{
        font-size:0.9rem;
      }
    }
  }
}*/
@media (max-width: 500px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }
  .home-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .xbox .content {
    widows: 50%;
    padding: 2rem 0 0 2rem;
  }
  .xbox .content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .links {
    background-color: #e6e6e6;
    padding-top: 3rem;
    padding-bottom: 2rem;
    /*  padding-left:10%;
    padding-right:10%;
    */
  }
  .links .links-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.35fr 2fr 0.35fr;
        grid-template-columns: 0.35fr 2fr 0.35fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "left a right" "left b right" "left c right" "left d right" "left e right" "left f right" "left g right";
  }
  .footer .footer-inner {
    -ms-grid-columns: 1fr 5fr 13fr 1.2fr;
        grid-template-columns: 1fr 5fr 13fr 1.2fr;
  }
  .footer .footer-inner .title {
    padding-top: 0.5rem;
    padding-right: 1.5rem;
  }
  .footer .footer-inner .list ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b" "c d" "e f" "g h";
  }
  .footer .footer-inner .list ul .a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .b {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .c {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .d {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
    padding-bottom: 1rem;
  }
  .footer .footer-inner .list ul .e {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: e;
  }
  .footer .footer-inner .list ul .f {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: f;
  }
  .footer .footer-inner .list ul .g {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: g;
  }
  .footer .footer-inner .list ul .h {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: h;
  }
}
/*# sourceMappingURL=style.css.map */