* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

/*NAV*/

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;
  .logo {
    width: 11rem;
  }
  ul {
    display: flex;
    &.main_menu {
      flex: 1;
      margin-left: 2rem;
    }
    li {
      padding: 0 0.7rem;
      a {
        padding-bottom: 2px;
      }
      a:hover {
        border-bottom: 2px solid #262626;
      }
    }
  }
}

.main_nav .logo {
  width: 11rem;
}

/*SHOWCASE*/

.showcase {
  width: 100%;
  height: 35rem;
  background: url('./img/slide1.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem;
  font-size: 1.1rem;
  margin-bottom:2rem;
  h2,
  p {
    margin-bottom: 1rem;
  }
}
.btn {
  margin-top: 1rem;
  background-color: #262626;
  color: white;
  padding: 1rem 1rem;
  cursor:pointer;
  display:inline-block;
  font-size:1.2rem;
}

/* Home Cards */

.home-cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:20px;
  margin-bottom:2rem;
  img{
    width:100%;
    margin-bottom:1.5rem;
  }
  h3{
    margin-bottom:0.5rem;
    font-size:1.2rem;
  }
  a{
    display:inline-block;
    text-transform:uppercase;
    color:#0067b8;
    font-weight:bold;
    padding-top:1rem;
  }
}

/* Xbox */

.xbox{
  width:100%;
  height:350px;
  background:url("./img/xbox.png") no-repeat center center/cover;
  margin-bottom:2rem;
  .content{
    width:40%;
    padding:2rem 0 0 2rem;
    p{
      margin:1rem 0 1.5rem;
      font-size:1.1rem;
    }
    h2{
      font-size:1.2rem;
    }
  }
}

  /* carbon */
  .carbon_dark{
    background:url("./img/carbon.jpg") no-repeat center center/cover;
  h2{
    font-size:1.2rem;
    padding:10% 2% 2% 3%;
    color:white;
  }
  p{
    font-size:1.1rem;
    padding-left:3%;
    color:white;
  }
  .frame{
    padding-top:1rem;
    padding-left:2.5rem;
    padding-bottom:5rem;
    .btn{
      color:black;
      background-color:white;
    }
  }
  }
/* follow */
.follow{
  display:flex;
  p{
    font-size:1.1rem;
    padding:2rem 0 1.6rem 0;
  }
  .first{
    padding:2rem 0.5rem 1.6rem 1rem;
  }
  .others{
    padding:2rem 0.5rem 1.6rem 0.5rem;
  }
}
.links{
  width: 90%;
  max-width: 110rem;
  margin: auto;
  background-color:rgb(219, 218, 218);
  padding-top:3rem;
  padding-bottom:2rem;
  /*  padding-left:10%;
  padding-right:10%;
  */
  .links-inner{
    display:grid;
    grid-template-columns:0.35fr 1fr 1fr 1fr 1fr 1fr 1fr 0.35fr;
    grid-template-areas:"left a b c d e f right";
    .hyperlink{
      padding-left:2.5rem;
      padding-bottom:0.5rem;
    }
    .left{
      grid-area:left;
    }
    .a{
      grid-area:a;
      h3{
        padding:0 0 1rem 2.5rem;
      }
    }
    .b{
      grid-area:b;
      h3{
        padding:0 0 1rem 2.5rem;
      }
    }
    .c{
      grid-area:c;
      h3{
        padding:0 0 1rem 2.5rem;
      }
    }
    .d{
      grid-area:d;
      h3{
        padding:0 0 1rem 2.5rem;
      }
    }
    .e{
      grid-area:e;
      h3{
        padding:0 0 1rem 2.5rem;
      }
    }
    .f{
      grid-area:f;
      h3{
        padding:0 0 1rem 2.5rem;
      }
    }
    .right{
      grid-area:right;
    }
  }
}
.footer{
  width: 90%;
  max-width: 110rem;
  margin: auto;
  background-color:rgb(219, 218, 218);
  padding-bottom:4rem;
  .footer-inner{
    display:grid;
    grid-template-columns: 1fr 3fr 15fr 1.2fr;
    grid-template-areas:"a b c d";
    .left{
      grid-area:a;
    }
    .title{
      grid-area:b;
    }
    .list{
      ul{
        display:flex;
        justify-content:space-between;
        a:hover {
          padding-bottom:0.2rem;
          border-bottom: 2px solid #262626;
        }
      }
      grid-area:c
    }
    .right{
      grid-area:d;
    }
  }
}


@media(max-width:780px){
  .btn{
    font-size:1rem;
    padding:0.6rem 0.9rem;
    }
  .home-cards{
    grid-template-columns:repeat(2,1fr);
  }
  .xbox{
    .content {
      width: 50%;
      padding:2rem 0 0 2rem;
      p{
        display:none;
      }
      h2{
        margin-bottom:2rem;
      }
    }
  }
  .links{
    background-color:rgb(219, 218, 218);
    padding-top:3rem;
    padding-bottom:2rem;
    /*  padding-left:10%;
    padding-right:10%;
    */
    .links-inner{
      display:grid;
      grid-template-columns:0.35fr 2fr 2fr 0.35fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:"left a b right" "left c d right" "left e f right";
    }
  }
  .footer{
    .footer-inner{
      grid-template-columns: 1fr 5fr 13fr 1.2fr;
      .title{
        padding-top:0.5rem;
        padding-right:0.5rem;
      }
      .list{
        ul{
          display:grid;
          grid-template-rows:1fr 1fr;
          grid-template-columns:1fr 1fr 1fr 1fr;
          grid-template-areas:"a b c d" "e f g h";
          .a{
            grid-area:a;
            padding-bottom:1rem;
          }
          .b{
            grid-area:b;
            padding-bottom:1rem;
          }
          .c{
            grid-area:c;
            padding-bottom:1rem;
          }
          .d{
            grid-area:d;
            padding-bottom:1rem;
          }
          .e{
            grid-area:e;
          }
          .f{
            grid-area:f;
          }
          .g{
            grid-area:g;
          }
          .h{
            grid-area:h;
          }
        }
      }
    }
  }
}
/*@media(max-width:1000px){
  .xbox{
    .content{
      p{
        font-size:0.9rem;
      }
    }
  }
}*/
@media(max-width:500px){
  .btn{
  font-size:0.9rem;
  padding:0.5rem 0.8rem;
  }
  .home-cards{
    grid-template-columns:1fr;
  }
  .xbox{
    .content {
      widows: 50%;
      padding:2rem 0 0 2rem;
      h2{
        font-size:1.2rem;
        margin-bottom:1rem;
      }
    }
  }
  .links{
    background-color:rgb(219, 218, 218);
    padding-top:3rem;
    padding-bottom:2rem;
    /*  padding-left:10%;
    padding-right:10%;
    */
    .links-inner{
      display:grid;
      grid-template-columns:0.35fr 2fr 0.35fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:"left a right" "left b right" "left c right" "left d right" "left e right" "left f right" "left g right";
    }
  }
  .footer{
    .footer-inner{
      grid-template-columns: 1fr 5fr 13fr 1.2fr;
      .title{
        padding-top:0.5rem;
        padding-right:1.5rem;
      }
      .list{
        ul{
          display:grid;
          grid-template-rows:1fr 1fr 1fr 1fr;
          grid-template-columns:1fr 1fr;
          grid-template-areas:"a b" "c d" "e f" "g h";
          .a{
            grid-area:a;
            padding-bottom:1rem;
          }
          .b{
            grid-area:b;
            padding-bottom:1rem;
          }
          .c{
            grid-area:c;
            padding-bottom:1rem;
          }
          .d{
            grid-area:d;
            padding-bottom:1rem;
          }
          .e{
            grid-area:e;
          }
          .f{
            grid-area:f;
          }
          .g{
            grid-area:g;
          }
          .h{
            grid-area:h;
          }
        }
      }
    }
  }
}