.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  display: grid;
  height: 100vh;
  grid-template-rows: 7fr 30fr 5fr;
  grid-template-areas:
    'upper'
    'middle'
    'bottom';
}
#upper {
  grid-area: upper;
  text-align: center;
  display: flex;
  padding: 0.25rem;
  background-color: rgb(33, 147, 151);
}
#logo {
  margin: 0.25rem;
  width: 30%;
  background-color: pink;
}
header {
  margin: 0.25rem;
  width: 70%;
  background-color: lightyellow;
}
#middle {
  grid-area: middle;
  background-color: green;
  display: flex;
  padding: 0.25rem;
}
article {
  width: 30%;
  text-align: center;
  margin: 0.25rem;
  background-color: rgb(209, 130, 209);
}
nav {
  margin: 1.5rem;
  background-color: lightblue;
}
aside {
  width: 70%;
  text-align: center;
  margin: 0.25rem;
  background-color: yellow;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 5fr 2fr;
  grid-template-areas: 'text' 'upper2' 'bottom2';
  text-align: left;
  margin: 1.5rem 1.5rem 2rem 1.5rem;
  height: 65vh;
  background-color: rgb(136, 202, 224);
}
#text1 {
  grid-area: text;
}
#display {
  text-align: left;
  grid-area: upper2;
  margin: 1% 10%;
  background-color: white;
}
#video-clips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'img1 img2 img3 img4 img5';
  grid-area: bottom2;
  margin: 3% 3% 4.5% 3%;
  background-color: pink;
}
#img1 {
  grid-area: img1;
  margin: 2%;
  width: 96%;
  height: auto;
}
#img2 {
  grid-area: img2;
  margin: 2%;
  width: 96%;
  height: auto;
}
#img3 {
  grid-area: img3;
  margin: 2%;
  width: 96%;
  height: auto;
}
#img4 {
  grid-area: img4;
  margin: 2%;
  width: 96%;
  height: auto;
}
#img5 {
  grid-area: img5;
  margin: 2%;
  width: 96%;
  height: auto;
}
footer {
  background-color: rgb(221, 160, 170);
}

@media only screen and (max-width:550px) {
  .container{
    display:grid;
      grid-template-rows:14fr 60fr 5fr;
      grid-template-columns:1fr;
      height:100vh;
      grid-template-areas:
      "upper" "middle" "footer"
  }
  #upper{
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr;
    grid-template-areas:"upper1" "upper2";
  }
  #logo{
    grid-area:upper1;
    width:100%;
  }
  header{
    grid-area:upper2;
    width:100%;
  }
  #middle{
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr;
    grid-template-areas:"middle1" "middle2";
  }
  article{
    width:100%;
    grid-area:middle1;
  }
  aside {
    width:100%;
    grid-area:middle2;
  }
}